$primaryColor: #3bb312;
$secondaryColor: #f58013;
$darkColor: #000;
$lightColor: #FFF;
$lightOrange: #fef4ea;
$lightGreen: #e9f4e3;
$lightPink: #faeaea;
$lightBlue: #eeeef9;
$lightYellow: #f7f6d7;
$GreyColor: #aaa;
$whiteColor: #f9f9f9;
