@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .btn {
    font-size: 18px;
    padding: 14px 24px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .btn {
    font-size: 20px;
    padding: 18px 28px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .btn {
    margin-left: 50px;
  }
}

.btn-green {
  background-color: #3bb312;
  color: #FFF;
  border: solid 2px #3bb312;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-green:hover {
  background-color: transparent;
  color: #000;
  border: solid 2px #3bb312;
}

.home {
  background-color: #f9f9f9;
}

.container {
  padding: 90px 0;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .container {
    padding: 30px 0;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .container {
    padding: 30px 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .container {
    padding: 50px 0;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .container {
    padding: 70px 0;
  }
}

.home-left {
  margin-top: 90px;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .home-left {
    margin-top: 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .home-left {
    margin-top: 30px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .home-left {
    margin-top: 50px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .home-left {
    margin-top: 80px;
  }
}

.home-left p {
  font-size: 24px;
  color: #3bb312;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .home-left p {
    font-size: 16px;
    margin: 0 0 10px 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .home-left p {
    font-size: 18px;
    margin: 0 0 10px 30px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .home-left p {
    font-size: 20px;
    margin: 0 0 10px 30px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .home-left p {
    font-size: 24px;
    margin: 0 0 10px 50px;
  }
}

.home-left h1 {
  font-size: 60px;
  line-height: 1.2;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .home-left h1 {
    font-size: 35px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .home-left h1 {
    font-size: 40px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .home-left h1 {
    font-size: 40px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .home-left h1 {
    font-size: 55px;
    margin-left: 50px;
  }
}

.home-left .m-b-50 {
  margin-bottom: 50px;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .home-left .m-b-50 {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .home-left .m-b-50 {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .home-left .m-b-50 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .home-right img {
    width: 250px;
    height: 250px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .home-right img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .home-right img {
    width: 350px;
    height: 350px;
  }
}

.offers {
  margin: 50px 0;
}

.offers .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .offers .column {
    margin-left: 40px;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .offers .column {
    margin-left: 60px;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
  .offers .column {
    margin-left: 100px;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  .offers .column {
    margin-left: 50px;
  }
}

.offers .offer-text {
  margin-top: 10px;
  font-size: 16px;
}
/*# sourceMappingURL=index.css.map */